@charset "utf-8";
/* CSS Document */
.pd01{ padding:0;}

/*左栏目*/
.center-left{ width:213px; overflow:hidden; background-color:#fff;}
.menus{ border:1px #e5e5e5 solid; overflow:hidden; background-color:#fff;}
.type-menus{ display:block; padding:0 33px 0 73px; height:48px; line-height:48px; font-size:16px; color:#777; position:relative; overflow:hidden; border-bottom:1px #e5e5e5 solid; background-position:33px  center; background-repeat:no-repeat;}
.type-menus i{ display:block; position:absolute; right:33px; top:0; height:48px; line-height:48px; width:10px; text-align:center; font-family:"宋体"; font-size:17px; color:#777; font-weight:600;}
.type-menus:hover{ color:#777 !important;}
.ico01{ background-image:url(../images/60.jpg);}
.ico02{ background-image:url(../images/61.jpg);}
.ico03{ background-image:url(../images/62.jpg);}
.menus li.infos div{ display:none;}
.menus li.infos div ul li{ height:48px; border-bottom:1px #e5e5e5 solid; overflow:hidden;}
.menus li.infos div ul li a{ display:block; padding-left:73px; font-size:13px; color:#7e7e7e; line-height:48px; position:relative;}
.menus li.infos div ul li a img{ display:none; position:absolute; left:0; top:0;}
.menus li.infos div ul li a em{ display:block; position:absolute; right:33px; top:0; width:10px; height:48px; background:url(../images/64.jpg) no-repeat center center;}
.menus li.infos div ul li a:hover,.menus li.infos div ul li a.current{ color:#ff4b05 !important; background-color:#fdfdfd;}
.menus li.infos div ul li a:hover img,.menus li.infos div ul li a.current img{ display:block;}
.menus li.infos div ul li a:hover em,.menus li.infos div ul li a.current em{ background-image:url(../images/65.jpg);}


/*右栏目*/
.center-right{ width:980px; overflow:hidden;}
.right-box{ border:1px #e5e5e5 solid;}

.center-title{ height:44px; border-bottom:1px #e5e5e5 solid; padding:0 19px; line-height:44px; }
.center-title h2{ padding-left:12px; background:url(../images/45.jpg) no-repeat left center;font-size:16px; color:#333; font-weight:normal;}

.add-news{ padding:23px 19px; overflow:hidden;}
.add-news .con{ border:1px #e5e5e5 solid;}
.add-title{ height:36px; padding:8px 13px; border-bottom:1px #e5e5e5 solid; position:relative;}
.add-title input{ text-align:center; display:block; width:100%; height:36px; border:0; line-height:36px; font-size:17px; color:#919191;}
.add-title div{ padding:6px 0; height:22px; border:1px #cfcfcf solid; position:absolute; top:8px; right:13px;}
.add-title div select{ display:block; border:0; width:100%; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:url(../images/51.jpg) no-repeat no-repeat 105px center transparent; padding:2px 30px 2px 39px; font-size:15px; color:#7f7f7f;}

.add-button{ display:block; border:0;font-size:18px; color:#fff; width:150px; height:50px; margin:0 auto; background-color:#fc6908; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin-top:44px; cursor:pointer;}
.add-button:hover{ background-color:#ec6104;}


#menus-position.on{ position:fixed; left:50%; top:0; margin-left:-600px; z-index:9999;}