@charset "utf-8";
/* CSS Document */

.fzfsxg{background: rgba(0, 0, 0, 0) url("../images/fltb/fzfsxg.png") no-repeat scroll 29px center;}
.ablbgg{background: rgba(0, 0, 0, 0) url("../images/fltb/ablbgg.png") no-repeat scroll 29px center;}
.jdly{background: rgba(0, 0, 0, 0) url("../images/fltb/jdly.png") no-repeat scroll 29px center;}
.ssmrhzp{background: rgba(0, 0, 0, 0) url("../images/fltb/ssmrhzp.png") no-repeat scroll 29px center;}
.jxwjgy{background: rgba(0, 0, 0, 0) url("../images/fltb/jxwjgy.png") no-repeat scroll 29px center;}
.ysbzgg{background: rgba(0, 0, 0, 0) url("../images/fltb/ysbzgg.png") no-repeat scroll 29px center;}
.hghbny{background: rgba(0, 0, 0, 0) url("../images/fltb/hghbny.png") no-repeat scroll 29px center;}
.jsjrjwl{background: rgba(0, 0, 0, 0) url("../images/fltb/jsjrjwl.png") no-repeat scroll 29px center;}
.swylbj{background: rgba(0, 0, 0, 0) url("../images/fltb/swylbj.png") no-repeat scroll 29px center;}
.tyhwys{background: rgba(0, 0, 0, 0) url("../images/fltb/tyhwys.png") no-repeat scroll 29px center;}
.qpmpzxc{background: rgba(0, 0, 0, 0) url("../images/fltb/qpmpzxc.png") no-repeat scroll 29px center;}
.jcscnt{background: rgba(0, 0, 0, 0) url("../images/fltb/jcscnt.png") no-repeat scroll 29px center;}
.yswl{background: rgba(0, 0, 0, 0) url("../images/fltb/yswl.png") no-repeat scroll 29px center;}
.cwypdj{background: rgba(0, 0, 0, 0) url("../images/fltb/cwypdj.png") no-repeat scroll 29px center;}
.nlmy{background: rgba(0, 0, 0, 0) url("../images/fltb/nlmy.png") no-repeat scroll 29px center;}
.dzdltx{background: rgba(0, 0, 0, 0) url("../images/fltb/dzdltx.png") no-repeat scroll 29px center;}
.lpjxf{background: rgba(0, 0, 0, 0) url("../images/fltb/lpjxf.png") no-repeat scroll 29px center;}
.hyhkht{background: rgba(0, 0, 0, 0) url("../images/fltb/hyhkht.png") no-repeat scroll 29px center;}
.zmjzh{background: rgba(0, 0, 0, 0) url("../images/fltb/zmjzh.png") no-repeat scroll 29px center;}
.spylyj{background: rgba(0, 0, 0, 0) url("../images/fltb/spylyj.png") no-repeat scroll 29px center;}
