@charset "utf-8";
/* CSS Document */
body{
	margin:0 auto;
	background:#eaeaea;
	font-family:"微软雅黑";
	font-size:14px;
}
ul,li{
	margin:0px;
	list-style:none;
	padding:0px;
}
p{
	margin:0px;
	padding:0px;
}
.mainbox{
	width:100%;
	margin:0 auto;
}
.in_top{
	height:60px;
	background:url(../images/in_logo_03.png) left center no-repeat;
	background-position:20px; 
	border-bottom:1px solid #cbcbcb;
}
.crm_in_top{
	height:60px;
	background:url(../images/LOGO_crm.gif) left center no-repeat;
	background-position:20px; 
	border-bottom:1px solid #cbcbcb;
}
.phone_in_top{
	height:60px;
	background:url(../images/in_logo_phone.png) left center no-repeat;
	background-position:20px; 
	border-bottom:1px solid #cbcbcb;
}
.sales_bt_line{
	border-top:1px solid #f4f4f4;
}
.sales_bt{
   border:1px solid #dddddd;
   background:#ff9900;
/* border-radius: 5px;*/
   height:45px;
   width:90%;
   margin:0 auto;
   margin-top:15px;
   overflow:hidden;
   line-height:45px;
   text-align:center;
   color:#FFFFFF;
   font-size:16px;
   font-weight:bold;
}
.accpunt_manage_bt{
   border:1px solid #3789c8;
   background:#4393d0;
   height:45px;
   width:90%;
   margin:0 auto;
   margin-top:15px;
   overflow:hidden;
   line-height:45px;
   text-align:center;
   color:#FFFFFF;
   font-size:16px;
   font-weight:bold;	
}
.in_round_box{
   border:1px solid #dddddd;
   background:#fff;
   border-radius: 5px;
   width:90%;
   margin:0 auto;
   margin-top:22px;
   height:auto;
   overflow:hidden;
}
.in_padding{
	padding:10px;
}
.in_padding p{
	border-bottom:1px solid #dedede;
	height:40px;
	line-height:35px;
	color:#63b908;
	
}
.in_padding a{
	text-decoration:none;
}
.in_padding p span{
	font-size:11px;
}
.menu{
	width:100%;
	background:#2186d4;
	height:70px;
	line-height:50px;
	margin-top:30px;
	position:fixed;
	bottom:0px;
	overflow:hidden;
	z-index:99;
}
.menu_select{
	background:#146cb0;
}
.margin_bottom{
	margin-bottom:80px;
}
.menu li{
	height:70px;
	float:left;
	position:relative;
}
.menu li a{
	color:#FFFFFF;
	text-decoration:none;
}
.menu_p{
	height:70px;
	width:100%;
	text-align:center;
	line-height:105px;
	color:#FFFFFF; position:relative
}
.pos_ship_num{
	width:26px;
	height:26px;
	background:url(../images/ico_point.png);
	position:absolute;
	z-index:9999;
	text-align:center;
	line-height:26px;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	top:5px;
	margin-left:60%;
}
.icon-sales{
	background:url(../images/menu_01.png) center no-repeat;
}
.icon-transport{
	background:url(../images/menu_02.png) center no-repeat;
}
.icon-order{
	background:url(../images/menu_03.png) center no-repeat;
}
.icon-account{
	background:url(../images/menu_04.png) center no-repeat;
}
.icon-1{
	background:url(../images/menu_01.png) center no-repeat;
}
.icon-2{
	background:url(../images/menu_02.png) center no-repeat;
}
.icon-3{
	background:url(../images/menu_03.png) center no-repeat;
}
.icon-4{
	background:url(../images/menu_04.png) center no-repeat;
}
.submit_botton{
	text-align:center;
}
.submit_botton input{
	text-align:center;
	margin:0 auto;
	margin-top:20px;
	width:90%;
	background:#50a306;
/*	border-radius: 5px;*/
	border:1px solid #459605;
	font-size:16px;
	font-weight:bold;
	height:50px;
	color:#FFFFFF;
}
.dealer_type{
	clear:both;
	padding:15px 0px 50px 0px;
}
.dealer_type li{
	float:left;
	padding:10px;
	margin-right:8px;
}
.normal{
	border:1px solid #e0e0e0;
}
.select{
	border:2px solid #ff9900;
}
.dealer_time{
	padding-top:15px;
	padding-bottom:15px;
}
.dealer_contact li{
	border-bottom:1px solid #dedede;
	height:60px;
	line-height:60px;
}
.input_nobox{
	height:20px;
	line-height:20px;
	width:200px;
	border:0px;
	font-family:"微软雅黑";
	color:#aaaaaa;
}
.transport_msg{
	border-bottom:1px solid #dddddd;
	height:50px;
	line-height:50px;
	background:#f5f5f5;
}
.transport_msg span{
	color:#ff6600;
	font-size:20px;
}
.order_info{
	line-height:30px;
}
.order_info em{
	font-style:normal;
	color:#1765e5;
}
.order_info i{
	color:#FF0000;
	font-style:normal;
}
.order_info dt{
	color:#f8822b	
}
.order_action{
	text-align:right;
	padding:5px;
}
.action_bt{
	text-align:center;
	width:80px;
	background:#50a306;
	border:1px solid #459605;
	font-size:14px;
	height:25px;
	line-height:25px;
	color:#FFFFFF;
	float:right;
	font-family:"宋体";display:block;
}
.action_bt a{
	text-decoration:none;
	color:#FFFFFF;
}
.action_bt_yellow{
	text-align:center;
	width:80px;
	background:#ff7e00;
	border:1px solid #ff6600;
	font-size:14px;
	height:25px;
	line-height:25px;
	color:#FFFFFF;
	float:right;
	cursor:pointer;
	font-family:"宋体";display:block;
}
.action_bt_yellow a{
	text-decoration:none;
	color:#FFFFFF;
}
.action_bt_finish{
	text-align:center;
	width:80px;
	background:#676767;
	border:1px solid #646464;
	font-size:14px;
	height:25px;
	line-height:25px;
	color:#FFFFFF;
	float:right;
	cursor:pointer;
	font-family:"宋体"; display:block;
}
.action_bt_finish a{
	text-decoration:none;
	color:#FFFFFF;
}
.page_a{
	width:90%;
	margin:0 auto;
	margin-top:20px;
}
.page_a a{
	text-align:center;
	background:#656565;
	border-radius: 5px;
	border:1px solid #646464;
	font-size:14px;
	height:30px;
	line-height:30px;
	color:#FFFFFF;
	text-decoration:none;
}
.ll{
	width:45%;
	float:left;
	text-align:center
}
.rr{
	width:45%;
	float:right;
	text-align:center;
}
.search{
	width:90%;
	overflow:hidden;
	height:35px;
	padding-top:15px;
}
.searchbox{
	width:230px;
	float:left;
	border:1px solid #cccccc;
	height:19px;
	font-family:"微软雅黑";
	padding-top:10px;
}
.search_bt{
	text-align:center;
	width:80px;
	background:#50a306;
	border:1px solid #459605;
	font-size:12px;
	height:30px;
	color:#FFFFFF;
	float:right;
	line-height:32px;
	cursor:pointer;
}
.sales_pro_action a{
	float:right;
	color:#f8822b;
	font-weight:bold;
	font-size:25px;
	position:relative;
	top:-3px;
}
.dealer_contact a{
	float:right;
	color:#f8822b;
	font-weight:bold;
	font-size:25px;
	position:relative;
	top:-3px;
	right:6px;	
}
.input_box_pronum{
	width:30px;
	border:1px solid #cccccc;
	text-align:center;
}
.input_box_pro{
	width:150px;
}
.order_detail_list{
	border:0px;
	width:100%;
	overflow:hidden;
}
.order_mode_select{
	background:#FF3300;
	color:#FFFFFF;
}
.order_mode_normal{
	background:#ff7e00;
	color:#FFFFFF;	
}
.ship_ajax_info{
	border:1px solid #FFCC00;
	background:#FFFFD9;
	height:35px;
	line-height:35px;
	margin-top:5px;
}
.pagination {
	clear:both;
	padding-top:15px;
	padding-bottom:10px;
}
.pagination li{
	float:left;
	text-align:center;
	border:1px solid #FF9900;
	background:#FFFFFF;
	height:30px;
	line-height:30px;
	margin-right:10px;
	padding-left:8px;
	padding-right:8px;
}
.pagination li a{
	text-decoration:none;
	color:#999999;
}
.right_more_menu{
	position:absolute;
	right:0px;
	z-index:99;
	width:25%;
	top:107px;
	background:#ff7e00;
}
.right_more_menu li{
	height:40px;
	line-height:40px;
}
.right_more_menu{
	display:none;
}
.right_more_menu a{
	color:#FFFFFF;
	text-decoration:none;
}
